* {
    font-family: 'Bebas Neue';
    font-style: normal;
    letter-spacing: 0.13vw;
}

@font-face {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    src: url("fonts\\BebasNeue-Regular.ttf");
}

main {
    /*margin-top: 4.7vw;*/

}

h1 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0.417vw;
}

main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .wrapper>div {
    width: 100%;
    padding-top: calc((100vw - 4.7vw) * 0.618);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .wrapper div>div {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .wrapper div .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

main .wrapper div #welcome-wrapper,
#welcome-text {
    background-color: transparent;
    color: white;
    font-size: 4vw;
}



main .wrapper div #history {
    padding: 2vw;
    font-size: 1.5vw;
}

.background-image {
    background-image: url('../images/student.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

main .wrapper .feature-selection {
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .wrapper .feature-selection h1 {
    position: absolute;
    top: 1.5vw;
    font-size: 2vw;
}

main .wrapper .feature-selection .feature-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.667vw;
}

main .wrapper .feature-selection .feature-wrapper .feature-item {
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 10.417vw;
    height: 10.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    cursor: pointer;
    background-image: url('/images/arcane-research-library.png');
    background-repeat: no-repeat;
    background-size: cover;
}


main .wrapper .feature-selection .feature-wrapper .feature-item:hover {
    background-color: #660000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

main .wrapper .feature-selection .feature-wrapper .feature-item:active {
    background-color: #4B0000;
    transform: translateY(0);
}

main .wrapper .feature-selection .feature-wrapper .feature-item:focus {
    outline: none;
}

main .wrapper .feature-selection .feature-wrapper .feature-item:disabled {
    background-color: #333333;
    color: #CCCCCC;
    cursor: not-allowed;
    box-shadow: none;
}

main .wrapper .feature-selection .feature-wrapper a:hover {
    background-color: rgba(139, 33, 33, 1);
    color: white;
}



#mission-vision-values {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    padding: 0.833vw;
    background-color: lightgray;
}

#mission-vision-values section {
    width: 100%;
    max-width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.667vw;
    padding: 0.833vw;
    box-sizing: border-box;
}


.enroll-content {
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #8B0000;
    color: white;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 62.5vw;
    margin: 0 auto;
    padding: 0 1.042vw;
}

footer .col {
    flex: 1;
    margin: 0.521vw;
}

footer h3 {
    border-bottom: 2px solid white;
    padding-bottom: 0.521vw;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 0.521vw 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    margin-right: 0.521vw;
    color: white;
    font-size: 1.042vw;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #3498db;
}

footer .copyright {
    text-align: center;
    margin-top: 1.042vw;
}

table {
    border: 1px solid black;
    font-size: 0.938vw;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 0.208vw;
    font-size: larger;
    color: #e0d2d2;
    background-color: #8B0000;
}

td {
    border: 1px solid black;
    padding: 0.417vw;
    background-color: white;
}

td:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #8B0000;
    text-decoration-thickness: 0.208vw;
}

button {
    display: inline-block;
    padding: 0.625vw 1.25vw;
    font-size: 0.833vw;
    font-weight: bold;
    color: #FFFFF0;
    background-color: #8B0000;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #660000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #4B0000;
    transform: translateY(0);
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #333333;
    color: #CCCCCC;
    cursor: not-allowed;
    box-shadow: none;
}


.enroll-button {
    display: flex;
    width: 25vw;
    height: 5vw;
    margin-bottom: 1.042vw;
    padding: 0.521vw 0.781vw;
    background-color: #8B0000;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.enroll-button:hover {
    background-color: #660000;
}

.background-image {
    background-image: url('images/student.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-gallery {}

.photo-gallery-wrapper {}

.photo-gallery-wrapper-container {}

.pros section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.833vw;
}

.pros img {
    width: 2.604vw;
    height: 2.604vw;
}

.pros-left {
    width: 50%;
    height: 100%;
    background-position: 30% 25%;
    background-image: url('/images/student-2.webp');
}

strong {
    color: #8B0000;
}

.pros-right {
    width: 50%;
    height: 100%;
    background-color: #8B0000;
    display: flex;
    flex-direction: column;
    padding: 1.667vw;
    align-items: center;
    background-color: white;
}

.pros-right h1 {
    color: #8B0000;
}

.feature-wrapper button {
    cursor: pointer;
}


.full-width-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.feature-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.667vw;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}


.feature-images .feature-images-item {
    background-color: #8B0000;
    width: 20%;
    height: 35vw;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.feature-images-item:hover .feature-images-item-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.667vw;
    transition-delay: 1s;
}

.feature-images-item:hover .feature-images-item-overlay h1 {
    position: relative;
    top: 3vw;
    color: #8B0000;
}

.feature-images-item-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.747);
}


.feature-images .feature-images-item .feature-images-item-large {
    width: 100%;
    height: 85%;
    background-image: url(/images/template-image.webp);
    background-position: 30% 10%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.feature-images .feature-images-item .feature-images-item-small {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#academics {
    padding-top: 31.25vw;
}

.academics-wrapper {
    display: flex;
    flex-direction: row;
}

.academics-wrapper .academics-wrapper-item-a {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.academics-wrapper .academics-wrapper-item-b {
    width: 50%;
    height: 100%;
    background-color: #8B0000;
}

.more-academics {
    background-color: lightgray;
}

.video-container {
    width: 80%;
    height: 56%;
    border-radius: 0.208vw;
    z-index: 3;
}

.video-container-video {
    border-radius: 0.208vw;
}

.preview-container {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.833vw;

}

.preview-container-item {
    width: 100%;
    height: 7.813vw;
    background-color: #8B0000;
    border-radius: 0.208vw;
}

.custom-container {
    width: 30%;
    height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.208vw;
}

.custom-container-item-top {
    width: 100%;
    height: 85%;
    background-color: white;
    background-image: url("/images/visit-us.webp");
    transition: background-size 0.5s ease;
    background-position: 55% 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.833vw;
    padding: 0.833vw;
    font-size: 1.25vw;
    border-radius: 0.208vw;
    color: black;
}

.custom-container-item-bottom {
    width: 100%;
    height: 15%;
    display: flex;
    background-color: #8B0000;
    justify-content: center;
    align-items: center;
    font-size: 1.667vw;
    color: white;
    cursor: pointer;

}

.custom-container-item-bottom:hover {
    font-size: 1.771vw;
}

.custom-container-item-top:hover {
    background-size: 300%;
    cursor: pointer;
    filter: blur(0px);
    background-position: center;
}

.news-container-left {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.833vw;
    flex-direction: column;
    gap: 0.833vw;
    
}

.news-container-left-intro {

}

.news-container-left-info-container {
    width: 70%;
    align-self: center;
    border-bottom: 0.104vw solid #8B0000;
}

.news-container-left-info-wrapper {
    width: 100%;
    height: 12.25vw;
    background-color: white;
    display: flex;
    padding: 0.833vw;
    gap: 0.833vw;
}

.news-container-left-detail-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.417vw;
    justify-content: center;
}

.news-pagination{
    width: 70%;
    align-self: center;
    display: flex;
    gap: 0.417vw;
}

.contacts-container{
    display: flex;
    width: 100%;
}
.contacts-left{
    width: 50%;
    height: 100%;
    background-image: url(/images/contacts.webp);
    background-size: cover;
    background-position: 75%;
}
.contacts-right{
    width: 50%;
    height: 100%;
}