main {
    /*margin-top: 4.7vw;*/

}

main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .wrapper > div {
    width: 100%;
    padding-top: calc((100vw - 4.7vw) * 0.618);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .wrapper div > div{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-gallery-wrapper{
    width: 50%;
    height: 100px;
    border: 1px solid black;
}


main .wrapper div .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

main .wrapper div #welcome-wrapper,
#welcome-text {
    background-color: transparent;
    color: white;
    font-size: 4vw;
}


main .wrapper div #history {
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .wrapper div #history {
    padding: 2vw;
    font-size: 1.5vw;
}


main .wrapper .feature-selection {
    background-color: aqua;
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .wrapper .feature-selection h1 {
    position: absolute;
    top: 0;
    font-size: 2vw;
}

main .wrapper .feature-selection .feature-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.667vw;
}

main .wrapper .feature-selection .feature-wrapper .feature-item {
    border: 1px solid black;
    width: 10.417vw;
    height: 10.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    cursor: pointer;
    background-image: url('/images/profile-circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

main .wrapper .feature-selection .feature-wrapper a:hover {
    background-color: rgba(139, 33, 33, 1);
    color: white;
}

main .wrapper #gallery .photo-gallery .photo-gallery-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.208vw;
    row-gap: 0;
}
main .wrapper #gallery .photo-gallery .photo-gallery-wrapper img{
    width: calc( 4.219vw * 3.618); 
    height:calc(7.5vw * 3.618 ) ;
}

.enroll-content{
    background-color: aqua;
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}